body {
    background: url(http://bootstraptema.ru/images/bg/bg-1.png)
}

.main-table {
    max-width: 80%;
    min-width: 45%;
    margin: 10px auto;
    text-align: center;
    background-color: transparent;
    border-spacing: 0px;
    color: rgb(0, 0, 205);
}

.main-table tr {
    padding: 15px;
    background-color: transparent;
    border-spacing: 0px;
}

.main-table tr:hover {
    background: #dce9f9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.main-table td {
    padding: 10px;
    font-size: 16px;
    width: auto;
}

.main-table th {
    padding: 5px;
    font-size: 18px;
    color: navy;
    background-color: rgb(220, 220, 220);
    text-align: center;
}

.column {
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(220, 220, 220);
}

.lang ul {
    list-style: none;
    display: table-row;
}

.lang ul li {
    display: table-cell;
}

.lang ul li a {
    display: block;
    padding: 40% 5px;
}

.logout p {
    position: relative;
    top: 10px;
    margin-left: 5px;
}

.logout p a {
    margin-left: 10px;
}

.notice {
    font-size: 18px;
}

#block_name {
    padding: 10px 20px 0px 20px;
    font-size: 22px;
}

.to-modal {
    margin-top: 25px;
}

.rejection-dropdown {
    margin-top: 45px;
    display: none;
    align-items: center;
}

#reason {
    border-radius: 10px;
    max-width: 40% !important;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.anchor {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.outer {
    text-align: center;
    margin: 10px;
}

.inline {
    display: inline-block;
    font-size: 16px;
    color: navy;
    font-weight: bold;
    margin: 10px;
}

.pagination-label {
    font-size:26px;
}