body {
    background: url(http://bootstraptema.ru/images/bg/bg-1.png)
}
/* style snippet */
#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
}

#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    height: 480px;
}

#thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(http://elearn.nubip.edu.ua/pluginfile.php/1/theme_essential/slide1image/1526920843/nubip_site_slider_120year_sg_2.jpg);
}

#thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(https://nubip.edu.ua/sites/default/files/imagecache/slide/18_05_22_fleshmob_nubip_02.jpg);
}

#thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(http://elearn.nubip.edu.ua/pluginfile.php/1/theme_essential/slide2image/1526920843/Screenshot_07052018_211238.png);
}

#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
    top: 20%;
    bottom: inherit;
}

#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
    position: relative;
    width: 100px;
    height: 8px;
}

#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    position: absolute;
    top: 0;
    width: 100px;
    display: none;
    opacity: 0;
    left: 50%;
    margin-top: -80px;
    margin-left: -50px;
}

#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
    display: block;
    opacity: .8;
}

#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
    opacity: 1;
}

@media screen and (max-width: 480px) {
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
        width: 50px;
        height: 8px;
        position: relative;
    }

    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
        width: 50px;
        left: 50%;
        margin-top: -50px;
        margin-left: -25px;
    }
}

.lang ul {
    list-style: none;
    display: table-row;
}

.lang ul li {
    display: table-cell;
}

.lang ul li a {
    display: block;
    padding: 40% 5px;
}

.logout p {
    position: relative;
    top: 10px;
    margin-left: 5px;
}

.logout p a {
    margin-left: 10px;
}

.text-center {
    text-align: center !important;
}

textarea {
    width: 265px;
    height: 125px;
    text-align: center;
}

